BOT_TOKEN=your_telegram_bot_token
GIGACHAT_CLIENT_ID=your_client_id
GIGACHAT_CLIENT_SECRET=your_client_secret
LOG_LEVEL=   # debug, info, warn, error
REPOSITORY_TYPE= #sqlite, mysql, postgres
#PostgreSQL config
POSTGRES_USER=your_user_name
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database
POSTGRES_TIMEOUT=PostgreSQL operation timeout (time.Duration format). Default: 5s
POSTGRES_HOST=PostgreSQL host:port. Default: localhost:5432. Docker: bot-postgres:5432
#MySQL config
MYSQL_ROOT_PASSWORD=your_root_pasword
MYSQL_DATABASE=your_database
MYSQL_USER=your_user_name
MYSQL_PASSWORD=your_password
MYSQL_TIMEOUT=MySQL operation timeout (time.Duration format). Default: 5s
MYSQL_HOST=MySQL host:port. Default: localhost:3306. Docker: bot-mysql:3306
#SQLite config
SQLITE_DATA_DIR=QLite data directory. Docker: /data, Local: ./out/sqlitedata. Default: /data
SQLITE_TIMEOUT=SQLite operation timeout (time.Duration format). Default: 5s

CACHE_REPOSITORY_TYPE= #redis
#Redis config
REDIS_HOST=Redis host:port. Default: localhost:6379, Docker: go-cash-redis:6379
REDIS_TIMEOUT=Redis operation timeout (time.Duration format). Default: 5s
MAX_MEMORY=redis_memory_limit

LOGGER_REPOSITORY_TYPE=#clickhouse
#ClickHouse config
CLICKHOUSE_HOST=ClickHouse host:port. Default: localhost:9000, Docker: bot-clickhouse:9000
CLICKHOUSE_DB=your_database Default: logs
CLICKHOUSE_USER=your_user_name Default: default
CLICKHOUSE_PASSWORD=your_password
CLICKHOUSE_TIMEOUT=ClickHouse operation timeout (time.Duration format). Default: 5s

SERVICE_NAME=Service name identifier stored in database Default: my-app