BOT_TOKEN=your_telegram_bot_token
GIGACHAT_CLIENT_ID=your_client_id
GIGACHAT_CLIENT_SECRET=your_client_secret
LOG_LEVEL=   # debug, info, warn, error
REPOSITORY_TYPE= #sqlite, mysql, postgres
POSTGRES_USER=your_user_name
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database
MYSQL_ROOT_PASSWORD=your_root_pasword
MYSQL_DATABASE=your_database
MYSQL_USER=your_user_name
MYSQL_PASSWORD=your_password
CACHE_REPOSITORY_TYPE= #redis
MAX_MEMORY=redis_memory_limit